@import "tailwindcss";

@font-face {
  font-family: Manrope;
  font-style: normal;
  font-display: swap;
  src: url("./assets/fonts/Manrope/Manrope-VariableFont_wght.ttf");
}

@theme {
  --font-sans: "Manrope", "Times New Roman";
}
